{% extends "base.html" %}
{% block body %}
<div style="padding-bottom: 25px;" class="main-banner" >
</div>
<section style="margin-top: -131px; margin-bottom: 150px;" class="section courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2 class='text-white'>Dashboard</h2>
        </div>
      </div>
    </div>
    <h2 class='text-dark m-3'>My Courses</h2>
    <div class="row event_box">
      
      {% if course_list %}
      {% for item in course_list %}
      <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-12 design">
        <div class="events_item ">
          <div class="thumb">
            {% if item.course_banner %}
            <a href="#"><img src="{{ item.course_banner.url }}" alt=""></a>
            {% endif %}
            <span class="category">{{item.course_department}}</span>
            <span class="price">
              <h6><em>$</em>{{item.course_price}}</h6>
            </span>
          </div>
          <div class="down-content">
            <h4 class="author">{{item.course_title}}</h4>
            <p>{{item.course_description}}</p>
            <a href="{% url 'delete_course' item.pk%}" class="btn btn-danger">Delete</a>
            <a href="{% url 'update_course' item.pk%}" class="btn btn-success">Update</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div>
        <div class="container " style="margin-bottom: auto;">

          <h4 class="text-danger">You have no course. Pleace add course !!!!</h4>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}