{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div style="padding-bottom: 25px;" class="main-banner">

</div>
<div class="contact-us section" id="contact">
    <div class="container">
          <div class="contact-us-content text-white">
            <form method="post" >
                {% csrf_token %}
                {{form |crispy}}
                <button class="btn btn-info text-white" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
{% endblock %}