{% extends "base.html" %}
{% block body %}
<div style="padding-bottom: 25px;" class="main-banner" >

</div>
<div class="contact-us" style="margin-top: auto;">
<div class="contact-us-content text-white" style="width:50%; margin: auto; ">
    <h1 class="mb-3 fs-1 text-white text-center">Are you sure you want to delete this?</h1>
    <form method="post" >
        {% csrf_token %}
        {{form}}
        <div class="d-grid gap-2 d-block">
            <button class="btn btn-lg btn-success text-white" type="submit">Yes</button>
        <a  href="{% url 'course_list' %}" class="btn btn-lg btn-danger text-white tex">No</a>
        </div>
        
    </form>
</div>
</div>
{% endblock %}